RewriteEngine On

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ ./index.php

# ЭТО НУЖНО ЧТОБЫ В УРЛЕ МОЖНО БЫЛО ПИСАТЬ  /product/index вместо /?c=product&a=index
